<!DOCTYPE html>
<html>

<head>
  <title> Bookie </title>
</head>

<body>
  <a href="/links">links</a> --- <a href="/user/new">new user</a> --- <a href="/links/new">new link</a>
  <% if @current_user %>
    <p>Welcome to bookmark manager, <%= @current_user.email %></p>
  <% end %>

  <% if flash[:notice] %>
    <div id='notice'><%= flash[:notice] %></div>
  <% end %>

  <%=yield %>
</body>

</html>
